@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo:hover {
  animation: rotate 4s linear infinite;
}
.amber-divider {
  border-right: 1px solid rgb(252 211 77 / var(--tw-border-opacity));
}
